USE [master]
GO
/****** Object:  Database [oh]    Script Date: 21/7/2024 18:54:05 ******/
CREATE DATABASE [oh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'oh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\oh.mdf' , SIZE = 204800KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'oh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\oh_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [oh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [oh]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 21/7/2024 18:54:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Cliente] [nvarchar](255) NULL,
	[Fecha última factura] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fechas]    Script Date: 21/7/2024 18:54:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fechas](
	[Fecha] [datetime] NULL,
	[Nombre del Mes] [nvarchar](255) NULL,
	[Año] [float] NULL,
	[Numero del Mes] [float] NULL,
	[Numero del Trimestre] [float] NULL,
	[Numero del Cuatrimestre] [float] NULL,
	[Estacion] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[glp]    Script Date: 21/7/2024 18:54:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[glp](
	[id_articulo] [nvarchar](255) NULL,
	[descripcion] [nvarchar](255) NULL,
	[linea] [nvarchar](255) NULL,
	[agrupacion] [nvarchar](255) NULL,
	[tipo] [nvarchar](255) NULL,
	[presentacion] [nvarchar](255) NULL,
	[marca] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[motos]    Script Date: 21/7/2024 18:54:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[motos](
	[ID] [int] NOT NULL,
	[fecha] [datetime] NULL,
	[id_pedido] [nvarchar](255) NULL,
	[id_cliente] [nvarchar](255) NULL,
	[sucursal] [nvarchar](255) NULL,
	[vendedor] [nvarchar](255) NULL,
	[id_articulo] [nvarchar](255) NULL,
	[medio_cobro] [nvarchar](255) NULL,
	[tipo] [nvarchar](255) NULL,
	[tarjeta] [nvarchar](255) NULL,
	[importe] [float] NULL,
	[cuota] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[padron]    Script Date: 21/7/2024 18:54:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[padron](
	[DNI] [nvarchar](255) NULL,
	[CLASE] [nvarchar](255) NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[APELLIDO] [nvarchar](255) NULL,
	[DOMICILIO] [nvarchar](255) NULL,
	[GENERO] [nvarchar](255) NULL,
	[SECCION] [nvarchar](255) NULL,
	[CIRCUITO] [nvarchar](50) NULL,
	[CIRCUITO I] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proges]    Script Date: 21/7/2024 18:54:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proges](
	[ID] [int] NOT NULL,
	[sucursal] [nvarchar](255) NULL,
	[fecha] [datetime] NULL,
	[id_cliente] [float] NULL,
	[nombre_apellido] [nvarchar](255) NULL,
	[desc_art] [nvarchar](255) NULL,
	[cantidad] [float] NULL,
	[presentacion] [nvarchar](255) NULL,
	[marca] [nvarchar](255) NULL,
	[agrupacion] [nvarchar](255) NULL,
	[linea] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vtasgral]    Script Date: 21/7/2024 18:54:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vtasgral](
	[ID] [int] NOT NULL,
	[sucursal] [nvarchar](255) NULL,
	[fecha] [datetime] NULL,
	[id_cliente] [nvarchar](255) NULL,
	[id_factura] [nvarchar](255) NULL,
	[id_articulo] [nvarchar](255) NULL,
	[cantidad] [float] NULL,
	[precio_unit] [float] NULL,
	[precio_compra] [float] NULL,
	[iva] [float] NULL,
	[vendedor] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vtasmed]    Script Date: 21/7/2024 18:54:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vtasmed](
	[ID] [int] NOT NULL,
	[fecha] [datetime] NULL,
	[id_factura] [nvarchar](255) NULL,
	[id_cliente] [nvarchar](255) NULL,
	[importe] [float] NULL,
	[medio_cobro] [nvarchar](255) NULL,
	[tarjeta] [nvarchar](255) NULL,
	[cuotas] [float] NULL
) ON [PRIMARY]
GO
USE [master]
GO
